    GOOGLE_CLIENT_ID="[Get your Own CLient Id from Google ]"
    GOOGLE_CLIENT_SECRET="[Get your Own CLient Secret from Google ]"


DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
AUTH_SECRET="Get your Auth secret or generate one by openssl rand -base64 32"

